{% extends 'base.html' %}

{% block content %}
<!-- side navbar -->
<div class="col-sm-2 sidenav">
    <p><a href="#">Room 1</a></p>
   <!-- <p><a href="#">Room 2</a></p> -->
   <!-- <p><a href="#">Room 3</a></p> -->
</div>
<div class="col-sm-8 text-left">
    <iframe id="Table1" style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="640" height="480" src="https://charts.mongodb.com/charts-capstone-pqjog/embed/charts?id=f7c50aca-6a78-410b-adb4-99ce27b19d95&autorefresh=300&theme=light"></iframe>
</div>
{% endblock%}